body{
    margin:0px;
}
.back_gr{
    position: fixed;
    background-image: linear-gradient(90deg,#000000,#8b4298);    
    opacity: 1;
    z-index: -2;
    height: 100%;
    width:100%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    min-width: 330px;
    height: 100vh;
    /* border: 1px solid black; */
    margin: 0 auto;
}
.space_box{
    width:100%;
    height: 12.5%;
}
.main_box{
    position: relative;
    margin:0 auto;
    width:75%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
    /* add box shadow */
    -webkit-box-shadow: 17px 15px 20px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 15px 20px 11px rgba(0,0,0,0.75);
    box-shadow: 17px 15px 20px 11px rgba(0,0,0,0.75);
    /*                */
    /* add border radius */
    border-radius: 46px 46px 46px 46px;
    -moz-border-radius: 46px 46px 46px 46px;
    -webkit-border-radius: 46px 46px 46px 46px;
    border: 0px solid #000000;
    /*                  */
}
.input_box{
    width:100%;
    height:75%;
    text-align: center;
    margin: 0 auto;
}
.inner_space_box{
        width:100%;
        height: 25%;
}
.box2{
    width:25%;
    height:100%;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px dotted red; */
}
.im_box{
    height:50%;
    width:35%;
}
.temp_box{
    height:50%;
    width:35%;
}
#image{
    position: absolute;
    height:100%;
    width:100%;
    opacity: 0.1;
    z-index: -1;
    /* need to add border radius to image as well so that it wont overflow*/
    border-radius: 46px 46px 46px 46px;
    -moz-border-radius: 46px 46px 46px 46px;
    -webkit-border-radius: 46px 46px 46px 46px;
    border: 0px solid #000000;
}
#icon{
    opacity: 0;
    margin:25%;
    height:50%;
    width:50%;
}
i{
    font-size: 1.2em;
}
i:hover{
    color:red;

}
span{
    /* background-color: mediumaquamarine; */
    display:inline-block;
    width:75%;
    margin-left: 22%;
    font-size: 1em;
    text-align: left;
    font-weight: bold;
}
p{
    color:aqua;    
    font-size: 1.2em;
    text-align: center;
    margin:0;
}
#half_main{
    width:65%;
    height:50%;
}
.sun_wind{
    width:65%;
    height:50%;
    display: flex;
    flex-wrap: wrap;
}
#sunrise,#sunset,#wind_speed,#wind_degree{
    height:50%;
    width:50%;
}
#sunrise img,#sunset img,#wind_speed img,#wind_degree img{
    margin:15%;
    margin-bottom: 0px;
    height:35%;
    width:35%;
}
#sunrise p,#sunset p,#wind_degree p,#wind_speed p{
margin:0;
}
#inp{
    background-color: aqua;
    border-radius: 46px 46px 46px 46px;
    -moz-border-radius: 46px 46px 46px 46px;
    -webkit-border-radius: 46px 46px 46px 46px;
    border: 0px solid #000000;
}
@media screen and (max-width:590px){
    .im_box{
        width:40%;
        height:40%;
        order: 1;
    }
    .temp_box{
        width:60%;
        height:40%;
        order:2;
    }
    #half_main{
        width:100%;
        height:10%;
        order:3;
    }
    .sun_wind{
        width: 100%;
        order:4;
    }
    #icon{
        margin:0 0 0 25%;
        height:50%;
        width:50%;
    }

}
@media screen and (max-width:360px){
    span{
        font-size: 0.85em;
    }
}